@model ProjetoDespesas.Models.Salario

@{
    ViewData["Title"] = "Novo salario";
}

<div class="formulario">
<h6>Salario</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form rounded border" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MesId" class="control-label">Mês</label>
                <select asp-for="MesId" class ="form-control" asp-items="ViewBag.MesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-outline-dark btn-sm" asp-action="Index">Back to List</a> &nbsp;
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
